In [15]:
import os
import pandas as pd
import googlemaps

Lectura del archivo

In [32]:
# Especifica la ruta de la carpeta que contiene los archivos .parquet particionados
ruta_carpeta_parquet = '../datasets/parquets/metadatos Google'

# Lista para almacenar DataFrames de cada partición
dataframes = []

# Itera sobre los archivos .parquet en la carpeta
for root, dirs, files in os.walk(ruta_carpeta_parquet):
    for file in files:
        if file.endswith('.parquet'):
            # Construye la ruta completa del archivo
            ruta_completa = os.path.join(root, file)
            
            # Lee el archivo .parquet y agrega el DataFrame a la lista
            df_particion = pd.read_parquet(ruta_completa)
            dataframes.append(df_particion)

# Concatena todos los DataFrames en uno solo
businessId_gmapID = pd.concat(dataframes, ignore_index=True)

Filtramos solo lo de ulta_beauty

In [33]:
businessId_gmapID = businessId_gmapID[businessId_gmapID['name'] == 'Ulta Beauty']

Solo ocupamos la columna address y la columna gmap_id

In [34]:
businessId_gmapID = businessId_gmapID[['address','gmap_id']]

Ahora obtenemos la columa de place_id

In [35]:

# Se carga el cliente
client = googlemaps.Client(key="AIzaSyBUpwLRWnro_xMrhVsy_LA51ME-cRh1A9E")

# Se agrega la columna
businessId_gmapID['place_id'] = 'Sin Valores'

fields = ['place_id', 'name']

# Se minan los datos a través de la API Find_Places
for index, negocio in businessId_gmapID.iterrows():
    address_value = negocio['address']
    place_details = client.find_place(
        input=address_value,
        input_type='textquery',
        fields=fields
    )

    # Verificar si hay candidatos antes de intentar acceder al índice
    if 'candidates' in place_details and place_details['candidates']:
        businessId_gmapID.loc[index, 'place_id'] = place_details['candidates'][0]['place_id']
    else:
        print(f"No se encontraron candidatos para la dirección: {address_value}")
        # Puedes decidir qué hacer en este caso, como asignar un valor predeterminado o dejarlo vacío

No se encontraron candidatos para la dirección: Ulta Beauty, 456 E Rand Rd, Arlington Heights, IL 60004

In [36]:
businessId_gmapID

,address,gmap_id,place_id
10105,"Ulta Beauty, 500 Ventura Blvd Ste 1514, Camari...",0x80e849691015d7b7:0x314b8627656bc6d5,ChIJt9cVEGlJ6IAR1cZrZSeGSzE
36678,"Ulta Beauty, 500 Ventura Blvd Ste 1514, Camari...",0x80e849691015d7b7:0x314b8627656bc6d5,ChIJt9cVEGlJ6IAR1cZrZSeGSzE
87420,"Ulta Beauty, 1555 New Britain Ave, West Hartfo...",0x89e7ad0b7da12a11:0x2cab11e09a406d3a,ChIJESqhfQut54kROm1AmuARqyw
105106,"Ulta Beauty, 9 Centre Dr, Woodbury, NY 10917",0x89c2d130d433cc0b:0xb550e43a7ce3540,ChIJC8wz1DDRwokRQDXOp0MOVQs
107947,"Ulta Beauty, 914 Hamburg Turnpike, Wayne, NJ 0...",0x89c30355aba7b017:0x3735266fb77aee42,ChIJF7Cnq1UDw4kRQu56t28mNTc
...,...,...,...
2985739,"Ulta Beauty, 12339 Seal Beach Blvd, Seal Beach...",0x80dd2e536f430ea9:0xb56fc5d02329aa45,ChIJqQ5Db1Mu3YARRaopI9DFb7U
2988801,"Ulta Beauty, 160 River Rd Ste A-140, Lisbon, C...",0x89e6778725d32203:0xe5f89de21172ad5e,ChIJAyLTJYd35okRXq1yEeKd-OU
2991653,"Ulta Beauty, 1240 US-22, Phillipsburg, NJ 08865",0x89c4727e09899fd1:0x5e9a64ab3765ec2,ChIJ0Z-JCX5yxIkRwl52s0qm6QU
3007848,"Ulta Beauty, 70 Worcester-Providence Turnpike ...",0x89e405bbeed21f7f:0xfa1bae7dae7677d2,ChIJfx_S7rsF5IkR0nd2rn2uG_o
3008908,"Ulta Beauty, 6250 Glenwood Ave Ste 104, Raleig...",0x89acf761a874832d:0x111803f8757a81e0,ChIJLYN0qGH3rIkR4IF6dfgDGBE

Borramos la columna address

In [47]:
businessId_gmapID.drop(columns=['address'],inplace=True)

Cambiamos el nombre de la columa gmap_id por business_id

In [48]:
businessId_gmapID = businessId_gmapID.rename(columns={'gmap_id': 'business_id'})

In [49]:
businessId_gmapID

                                   business_id                     place_id
10105    0x80e849691015d7b7:0x314b8627656bc6d5  ChIJt9cVEGlJ6IAR1cZrZSeGSzE
36678    0x80e849691015d7b7:0x314b8627656bc6d5  ChIJt9cVEGlJ6IAR1cZrZSeGSzE
87420    0x89e7ad0b7da12a11:0x2cab11e09a406d3a  ChIJESqhfQut54kROm1AmuARqyw
105106    0x89c2d130d433cc0b:0xb550e43a7ce3540  ChIJC8wz1DDRwokRQDXOp0MOVQs
107947   0x89c30355aba7b017:0x3735266fb77aee42  ChIJF7Cnq1UDw4kRQu56t28mNTc
...                                        ...                          ...
2985739  0x80dd2e536f430ea9:0xb56fc5d02329aa45  ChIJqQ5Db1Mu3YARRaopI9DFb7U
2988801  0x89e6778725d32203:0xe5f89de21172ad5e  ChIJAyLTJYd35okRXq1yEeKd-OU
2991653   0x89c4727e09899fd1:0x5e9a64ab3765ec2  ChIJ0Z-JCX5yxIkRwl52s0qm6QU
3007848  0x89e405bbeed21f7f:0xfa1bae7dae7677d2  ChIJfx_S7rsF5IkR0nd2rn2uG_o
3008908  0x89acf761a874832d:0x111803f8757a81e0  ChIJLYN0qGH3rIkR4IF6dfgDGBE

[244 rows x 2 columns]